@using System.Web.Optimization;

@{
    ViewBag.Title = "Index";
}

@section styles{
    @Styles.Render("~/Product/css")
    @Styles.Render("~/Detail/css")
}

@section scripts{
    @Scripts.Render("~/Product/js")
    @Scripts.Render("~/Detail/js")
}

<div id="main">
    <div class="main">
        @Html.Action("ProductTop", "Layout")

        <div class="wrap" id="mainWrap">

            <div class="detail">
                <h3 class="detailName"><span><a href="javascript:;">详情页</a></span>&nbsp;/&nbsp;<span><a href="javascript:;">商品信息</a></span></h3>
                <div class="detailWrap">
                    <div class="imgWrap clearfix">
                        <div class="imgLeft f_left">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" v-for="item in slideImg"><a v-bind:href="item.href"><img v-bind:src="item.imgSrc" alt="Alternate Text" /></a></div>
                                    @*<div class="swiper-slide"><a href="javascript:;"><img src="../../images/sw (2).jpg" alt="Alternate Text" /></a></div>*@
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                        <div class="imgRight f_left">
                            <ul class="showPhoto">
                                <li>
                                    <a href="javascript:;">
                                        <img src="../../images/detail (1).jpg" alt="Alternate Text" />
                                        <div class="mask"></div>
                                        <p class="hideBack">最新 最全 最好的就是它</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="../../images/detail (2).jpg" alt="Alternate Text" />
                                        <div class="mask"></div>
                                        <p class="hideBack">最新 最全 最好的就是它</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="../../images/detail (3).jpg" alt="Alternate Text" />
                                        <div class="mask"></div>
                                        <p class="hideBack">最新 最全 最好的就是它</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="detailInfo">
                        <div class="infoBox clearfix">
                            <a class="f_left productImg" href="javascript:;">
                                <img src="../../images/product.jpg" alt="Alternate Text" />
                            </a>
                            <div class="f_left infoContent">
                                <h3>
                                    精美系列
                                </h3>
                                <p>伊丽莎白是属于金字塔顶尖的出品之一，纯净而高贵，若隐若现的线条与背底结合得天衣无缝，令伊丽莎白表现出纯洁而不乏品味、高贵而不张扬的个性。</p>
                                <div class="productChat">
                                    <ul class="clearfix">
                                        <li>
                                            <button class="proBtn">
                                                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                                洽谈
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <h4>产品参数</h4>
                                <div class="infomation">
                                    <ul class="clearfix">
                                        <li>
                                            <strong>产品系列:</strong>瓷抛砖系列
                                        </li>
                                        <li>
                                            <strong>产品品名:</strong>HROBG
                                        </li>
                                        <li>
                                            <strong>产品尺寸:</strong>900*900
                                        </li>
                                        <li>
                                            <strong>制作工艺:</strong>瓷抛砖
                                        </li>
                                        <li>
                                            <strong>表面效果:</strong>亚光砖
                                        </li>
                                        <li>
                                            <strong>色调:</strong>冷色调
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="productChoice">
                            <a class="prev" href="javascript:;">上一个产品</a>
                            <a class="next" href="javascript:;">下一个产品</a>
                            <a class="back" href="javascript:;">返回</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Action("Chatbox","Layout")