@using System.Web.Optimization
@using Abp.Web.Mvc.Extensions 

@section styles
{
    @Styles.Render("~/Product/css")
}

@section scripts
{
    @Scripts.Render("~/Product/js")
    @Html.IncludeScript("~/Views/Product/product.js")
}
<div id="main">
    <div class="main">
        @Html.Action("ProductTop", "Layout")
        
        <div class="wrap" id="mainWrap">
            @Html.Action("IndexMain","Product")

        </div>

    </div>
    @Html.Action("Chatbox","Layout")
</div>